.txt-align-center{
    text-align: center;
}
.schedule-head{
    font-size: 16pt;
    margin-top: 10px; margin-bottom: 15px;
}
.header-div{
    color:#fff; height: 30px; padding-top: 4px;
    background: #009688; border:0px;
    box-shadow:  3px 0px 3px #ccc;
    border-bottom: solid 1px #00796B;
}
.panel-div{
    box-shadow: 3px 3px 3px #ccc;
}
.border-div{
    border: 1px solid #ddd;
}
.margin-div{
    margin-bottom: 20px;
}
.table{
    table-layout: fixed;
    width:100%;
}
.th-id{
    width:8%;
    text-align: center;
}
.th-name{
    width:12%;
    text-align: center;
}
.txt-align-right{
    text-align: right;
}
.txt-align-left{
    text-align: left;
}
.txt-align-left, .txt-align-right{
    margin-bottom: 10px; margin-top: 10px; font-size: 12pt;
}
#schedule-table th{
    text-align: center;
}
.margin-bot{
    margin-bottom: 20px;
}
.mrg-text{
    margin-bottom: 5px;
}
.content {
    margin-top: 20px; margin-bottom: 20px;
}