.txt-center{
    text-align: center;
}
.header-div{
    color:#fff; height: 30px; padding-top: 4px;
    background: #009688; border:0px;
    box-shadow:  3px 0px 3px #ccc;
    border-bottom: solid 1px #00796B;
}
.panel-div{
    box-shadow: 3px 3px 3px #ccc;
}
.border-div{
    border-right: 1px solid #00796B;
}
.margin-div{
    margin-bottom: 20px;
}