.navbar-style{
    background-color: #2b669a;
    color: #fff;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px #D5D5D5;
}
.navbar-style a{
    color: #fff;
}
.navbar-style img{
    margin-top: 10px;
    width: 20%;
}
