.navbar-style{
    background-color: #1d89c6;
    color: #fff;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px #D5D5D5;
}
.navbar-style a{
    color: #fff;
}
.navbar-style img{
    margin-top: 10px;
    width: 20%;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Roboto-Condensed.ttf") format('truetype');
}
body{
    font-family: Roboto;
}